* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}
.loginContainer {
  height: 79vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 12px;
}
.loginContainer > div {
  font-size: 40px;
}
.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.loginForm > label:first-child > div {
  font-size: 20px;
}
.pwd {
  font-size: 20px;
}
.inputId,
.inputPwd {
  box-sizing: border-box;
  height: 46px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  padding: 0px 12px;
  font-size: 14px;
  border: 1px solid rgb(238, 238, 238);
}
button {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: row;
  flex-shrink: 0;
  border: 1px solid rgb(238, 238, 238);
  color: rgb(255, 255, 255);
  height: 46px;
  border-radius: 8px;
  background-color: rgb(254, 83, 31);
  cursor: pointer;
  width: 100%;
}
